.circular-slider .slider-bg {
  stroke: #d1d1d2;
  stroke-dasharray: 8,3;
  stroke-width: 26;
  fill: none;
}
.circular-slider .slider-overlay {
  stroke-width: 26;
  stroke-opacity: 0.6;
  fill: none;
}